pip install torch==2.6.0 torchvision==0.21.0 torchaudio==2.6.0 --index-url https://download.pytorch.org/whl/cu126
flwr==1.19.0
flwr_datasets==0.5.0
transformers==4.50.0
peft==0.14.0
datasets==3.1.0
scikit-learn==1.6.1
sentencepiece==0.2.0
bitsandbytes==0.46.0
ray==2.47.1
evaluate==0.4.0